# Secure defaults
# See: https://stribika.github.io/2015/01/04/secure-secure-shell.html
Protocol 2
HostKey ${SSHD_HOST_KEY_ED25519}
HostKey ${SSHD_HOST_KEY_RSA}

# Faster connection
# See: https://github.com/atmoz/sftp/issues/11
UseDNS ${SSHD_USE_DNS}

# Limited access
PermitRootLogin ${SSHD_PERMIT_ROOT_LOGIN}
X11Forwarding ${SSHD_X11_FORWARDING}
AllowTcpForwarding ${SSHD_ALLOW_TCP_FORWARDING}

# Force sftp and chroot jail
Subsystem sftp internal-sftp
#ForceCommand internal-sftp
#ChrootDirectory %h

# Enable this for more logs
#LogLevel VERBOSE
